body{
  scroll-behavior: smooth;
  padding-top: 80px;
}

/* GENERAL */

.sc-container{
  width: 70%;
  margin: 20px auto;
}

.sc-button-custom{
  background-color: #40BC9C;
  border-color: white;
}

.sc-bg-aqua{
  background-color: #40BC9C;
}

/* HEADER */

header{
  height: 80px;
  background-color: #2C3D50;
}

/* JUMBOTRON */

.jumbotron{
  height: 600px;
}

.box-img{
  height: 500px;
  width: 700px;
}
.box-img img{
  width: 200px;
}

/* MAIN */

section{
  padding: 40px 0;
}

.title-h2{
  margin-top: 40px;
  margin-bottom: 20px;
}

.sc-card img{
  width: 100%;
}

.form{
  height: 300px;
}
/* FOOTER */



/* DEBUG */

.debug{
  background-color: rgba(255, 0, 0, .5);
  border: 1px solid black;
}
