body{
  scroll-behavior: smooth;
  padding-top: 75px;
}

/* GENERAL */

.sc-container{
  width: 65%;
  margin: 20px auto;
}

.sc-button-custom{
  background-color: #40BC9C;
  border-color: white;
}

.sc-button-custom:hover{
  background-color: white;
  border-color: white;
  color: black;
}
.sc-buttom-opacity:hover{
  background-color: #237c66;
}

.sc-bg-aqua{
  background-color: #40BC9C;
}

.sc-border-bottom{
  border: none;
  border-bottom: 1px solid #ced4da;
}

.sc-filter-invert{
  filter: invert(100%);
}
.star{
  line-height: 50px;
  font-size: 1.3rem;
  color: #2C3D50;
}

.line{
  height: 3px;
  width: 20%;
  background-color: #2C3D50;
  display: inline-block;
  vertical-align: middle;
}

.sc-bg-white{
  background-color: white;
}

/* HEADER */

header{
  padding: 20px 0;
  background-color: #2C3D50;
}

/* JUMBOTRON */

.jumbotron{
  height: 400px;
}

.jumbotron img{
  width: 200px;
}

/* MAIN */

section{
  padding: 40px 0;
}

.title-h2{
  margin-top: 40px;
  margin-bottom: 20px;
}

.sc-card{
  position: relative;
}

.sc-card .overlay{
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(64, 188, 156, .7);
  display: none;
  border-radius: 10px;
}

.sc-card:hover .overlay{
  display: inline-block;
}

.overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
}

.sc-card img{
  width: 100%;
  border-radius: 10px;
}

.form{
  height: 300px;
}
/* FOOTER */

footer{
  background-color: #3A546D;
  font-size: .7rem;
}

.footer-top a{
  color: #40BC9C;
  text-decoration: none;
}

.icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 1rem;
}

.footer-bottom{
  background-color: #2C3D50;
  font-size: .6rem;
  padding: 20px;
}

/* MEDIAQUERY */

@media screen and (max-width:576px){
  .logo{
    font-size: .8rem;
  }
}

/* DEBUG */

.debug{
  background-color: rgba(255, 0, 0, .5);
  border: 1px solid black;
}
